# {{ .Info.Name }}
{{ range .Routes }}
----------------------------------------

## {{ .Name }}

{{ .Request.Method }} `/{{ join .Request.Url.Path "/" }}`
{{ if .Request.Body.Raw }}
### sample request body

```{{ .Request.Body.Options.Raw.Language }}
{{ allowJsonOrPlaintext .Request.Body.Raw }}
```
{{ end }}{{ range .Responses }}
### sample response (status: {{ .Code }} {{ .Status }})

{{ .Name }}

```{{ .Language }}
{{ if .Body }}{{ allowJsonOrPlaintext .Body }}{{ else }}(no response body){{ end }}
```
{{ end }}{{ end }}
