{{- /* template docs: https://pkg.go.dev/text/template */ -}}


{{- define "main" -}}
# {{.info.name}}
{{- if .info.description}}

{{.info.description}}
{{- end}}
{{template "table-of-contents" .}}
{{- template "items" .item}}
{{end -}}


{{- define "table-of-contents" -}}
{{- /* The links created by formatHeaderLink work in GitHub. */ -}}
{{- range .item}}
* {{formatHeaderLink .name}}{{if .description}} - {{.description}}{{end}}
{{- end -}}
{{- end -}}


{{- define "items"}}
{{- range .}}

----------------------------------------

<details open>
    <summary>
        <h{{.level}}>
            {{- .name -}}
        </h{{.level}}>
        {{- if .description}} - {{.description}}{{end}}
    </summary>

{{- if .item}}
{{- template "items" .item}}
{{- else -}}
{{- template "request" . -}}
{{- template "responses" . -}}
{{- end}}
</details>
{{- end -}}
{{- end -}}


{{- define "request" -}}
{{- if .request.method}}

{{.request.method}} `/{{join .request.url.path "/"}}`
{{- end -}}

{{- if .request.description}}

{{.request.description}}
{{- end -}}

{{- if .request.body.raw}}

<h{{add .level 1}}>
    {{- "sample request body" -}}
</h{{add .level 1}}>

```{{.request.body.options.raw.language}}
{{allowJsonOrPlaintext .request.body.raw}}
```
{{- end -}}
{{- end -}}


{{- define "responses" -}}
{{- range .response}}

<details>
    <summary>
        <h{{add .level 1}}>{{- "" -}}
            sample response{{if .name}} to {{.name}}{{end}} (status: {{.code}} {{.status}}){{- "" -}}
        </h{{add .level 1}}>
    </summary>

```{{._postman_previewlanguage}}
{{- if .body}}
{{allowJsonOrPlaintext .body}}
{{- else}}
(no response body)
{{- end}}
```
</details>
{{- end -}}
{{- end -}}


{{- template "main" . -}}
